<div class="row">
    <h1 class="col-sm-12">Workout {{ workout.slug }}</h1>
</div>

<div class="row">
    <div class="col-sm-12">
        <ul class="list-inline">
            <li data-ng-repeat="tag in workout.tags()"><i class="glyphicon glyphicon-tag"></i> {{ tag }}</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <button type="button" data-ng-hide="workout.adding" data-ng-click="workout.showExercises()">Show Exercises
        </button>
        <button type="button" data-ng-show="workout.adding" data-ng-click="workout.hideExercises()">Hide Exercises
        </button>
        <table data-ng-show="workout.adding" class="table table-bordered table-striped">
            <tr data-ng-repeat="item in workout.es.items">
                <td>
                    <button type="button" data-ng-click="workout.addExercise(item)">
                        <i class="glyphicon glyphicon-plus"></i></button>
                </td>
                <td>{{ item.slug | countExerciseBySlug }}</td>
                <td>
                    <a href="#/exercise/{{item.slug}}">{{ item.title }}</a>
                    <span class="badge" data-ng-repeat="set in (item.slug | findLastExerciseBySlug).sets">
                        {{ set.reps }}x {{ set.weight }}
                    </span>
                    <ul class="list-inline">
                        <li data-ng-repeat="tag in item.tags"><i class="glyphicon glyphicon-tag"></i> {{ tag }}</li>
                    </ul>
                </td>
                <td>
                </td>
            </tr>
        </table>
        <button type="button" data-ng-show="workout.adding" data-ng-click="workout.hideExercises()">Hide Exercises
        </button>
    </div>
</div>

<div data-ng-repeat="exercise in workout.exercises">
    <div class="row">
        <h2 class="col-sm-12">{{ (exercise.slug | findExerciseBySlug).title }}</h2>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <button type="button" data-ng-click="workout.addSet(exercise)"><i class="glyphicon glyphicon-plus"></i> Set
            </button>
        </div>

        <div class="col-sm-1">
            <a href="{{ (exercise.slug | findExerciseBySlug).video }}"><i class="glyphicon glyphicon-film"></i></a>
        </div>

        <div class="col-sm-1">
            <button type="button" data-ng-click="workout.removeExercise(exercise)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>

        <div class="col-sm-9">
            <span class="badge" data-ng-repeat="set in (exercise.slug | findLastExerciseBySlug).sets">
                {{ set.reps }}x {{ set.weight }}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Weight</th>
                    <th>Reps</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="set in exercise.sets">
                    <td>
                        <div class="btn-group btn-group-lg">
                            <!--<button type="button" class="btn" data-ng-click="workout.addWeight(set, -100);">-->
                                <!--<i class="glyphicon-minus"></i>100-->
                            <!--</button>-->
                            <button type="button" class="btn" data-ng-click="workout.addWeight(set, -25);">
                                <i class="glyphicon-minus"></i>25
                            </button>
                            <button type="button" class="btn" data-ng-click="workout.addWeight(set, -5);">
                                <i class="glyphicon-minus"></i>5
                            </button>
                            <!--<button type="button" class="btn" data-ng-click="workout.addWeight(set, -2.5);">-->
                                <!--<i class="glyphicon-minus"></i>2.5-->
                            <!--</button>-->
                            <button type="button" class="btn" data-ng-click="workout.addWeight(set, -1);">
                                <i class="glyphicon-minus"></i>1
                            </button>
                            <input type="text" class="btn input" style="width: 5em; text-align: right;"
                                   data-ng-model="set.weight"/>
                            <button type="button" class="btn" data-ng-click="workout.addWeight(set, 1);">
                                <i class="glyphicon-plus"></i>1
                            </button>
                            <button type="button" class="btn" data-ng-click="workout.addWeight(set, 2.5);">
                                <i class="glyphicon-plus"></i>2.5
                            </button>
                            <button type="button" class="btn" data-ng-click="workout.addWeight(set, 5);">
                                <i class="glyphicon-plus"></i>5
                            </button>
                            <button type="button" class="btn" data-ng-click="workout.addWeight(set, 25);">
                                <i class="glyphicon-plus"></i>25
                            </button>
                            <button type="button" class="btn" data-ng-click="workout.addWeight(set, 100);">
                                <i class="glyphicon-plus"></i>100
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-lg">
                            <button type="button" class="btn input input-lg" data-ng-click="workout.addRep(set, -5);">
                                <i class="glyphicon-minus"></i>5
                            </button>
                            <button type="button" class="btn input input-lg" data-ng-click="workout.addRep(set, -1);">
                                <i class="glyphicon-minus"></i>1
                            </button>
                            <input type="text" class="btn input input-lg" style="width: 3em; text-align: right;"
                                   data-ng-model="set.reps"/>
                            <button type="button" class="btn" data-ng-click="workout.addRep(set, 1);"><i
                                    class="glyphicon-plus"></i>1
                            </button>
                            <button type="button" class="btn" data-ng-click="workout.addRep(set, 5);"><i
                                    class="glyphicon-plus"></i>5
                            </button>
                        </div>
                    </td>
                    <td>
                        <button type="button" data-ng-click="workout.removeSet(exercise, set)">
                            <i class="glyphicon glyphicon-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>