<div>
    <h1>Workout {{ workout.slug }}</h1>

    <button type="button"
            data-ng-hide="workout.adding"
            data-ng-click="workout.showExercises()">Show Exercises
    </button>

    <button type="button"
            data-ng-show="workout.adding"
            data-ng-click="workout.hideExercises()">Hide Exercises
    </button>

    <table data-ng-show="workout.adding">
        <tr data-ng-repeat="item in workout.es.items">
            <td>
                <button type="button"
                        data-ng-click="workout.addExercise(item)"><i class="glyphicon glyphicon-plus"></i></button>
            </td>
            <td>
                <a href="#/exercise/{{item.slug}}">{{ item.title }}</a>
            </td>
            <td>
                <ul class="list-inline">
                    <li data-ng-repeat="tag in item.tags">
                        <i class="glyphicon glyphicon-tag"></i> {{ tag }}
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    <button type="button"
            data-ng-show="workout.adding"
            data-ng-click="workout.hideExercises()">Hide Exercises
    </button>

    <hr/>

    <div data-ng-repeat="exercise in workout.exercises">
        <button type="button"
                data-ng-click="workout.removeExercise(exercise)"><i class="glyphicon glyphicon-trash"></i></button>
        {{ (exercise.slug | findExerciseBySlug).title }}
        <a href="{{ (exercise.slug | findExerciseBySlug).video }}"><i class="glyphicon glyphicon-film"></i></a>

        <button type="button"
                data-ng-click="workout.addSet(exercise)"><i class="glyphicon glyphicon-plus"></i> Set
        </button>

        <div data-ng-repeat="set in exercise.sets">
            <button type="button"
                    data-ng-click="workout.removeSet(exercise, set)"><i class="glyphicon glyphicon-trash"></i></button>



            weight
            <button type="button"
                    data-ng-click="workout.addWeight(set, -5);"><i class="glyphicon-minus"></i></button>
            <input type="text"
                   style="width: 3em; text-align: right;"
                   data-ng-model="set.weight"/>
            <button type="button"
                    data-ng-click="workout.addWeight(set, 5);"><i class="glyphicon-plus"></i></button>



            reps
            <button type="button"
                    data-ng-click="workout.addRep(set, -1);"><i class="glyphicon-minus"></i></button>
            <input type="text"
                   style="width: 3em; text-align: right;"
                   data-ng-model="set.reps"/>
            <button type="button"
                    data-ng-click="workout.addRep(set, 1);"><i class="glyphicon-plus"></i></button>
        </div>

        <hr/>
    </div>
</div>
